// Fonty
$font-main: 'Segoe UI', Tahoma, Verdana, sans-serif;

// Barvy
$color-primary: #3498db;
$color-dark: #2c3e50;
$color-light: #f4f7f6;
$color-danger: #e74c3c;
$color-white:#fff;

// Stíny a zaoblení
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$radius: 8px;